header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    align-items: center;

}

.fa-heart {
    color: var(--color-heart);
    position: absolute;
    top: 40px;
    animation: heart_animate 0.6s linear infinite;
}

.header_casal {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

#header_otavio, #header_otavio img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 25px 60px 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: -3px 3px 4px #000;
}

#header_agata, #header_agata img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 25px 60px 80px 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 3px 3px 4px #000;
}

.header_nome {
    color: var(--color-heart);
    font-size: 30pt;
    text-align: center;
}